@font-face {
  font-family: Roboto-Regular;
  src: url('./assets/fonts/roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: Roboto-Light;
  src: url('./assets/fonts/roboto/Roboto-Light.ttf');
}
@font-face {
  font-family: Roboto-Medium;
  src: url('./assets/fonts/roboto/Roboto-Medium.ttf');
}

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Roboto-Regular;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#root {
  height: 100%;
}

.App {
  position: relative;
  height: 100%;
  background-image: linear-gradient(#FCFCFC,#D1D1D1);
}

.middle-container {
  width: 60%;
  min-width: 600px;
  max-width: 800px;
  margin: auto;
}

.checkbox {
  background-color: white;
  height: 15px;
  width: 15px;
  border-radius: 3px;
  margin-right: 20px;
  transition: box-shadow .2s, background-color .2s;
}
.checkbox:hover {
  border: .1px solid rgba(9, 135, 163, 1);
  box-shadow: 0 0 8px rgba(14, 202, 243, .6);
}